@charset "UTF-8";

/*typical device breackpoints*/

@media screen and (max-width: 768px) {
    
    header h1{
       width: 90vw;
       font-size: 2em;

    }

    main{
        width: 90vw;
    }

    }
