@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sriracha&family=Tangerine:wght@400;700&display=swap');


:root {
    --cor0: #89D99D;
    --cor1: #3B8C6E;
    --cor2: #1E5959;
    --cor3: #0B2B40;
    --cor4: #164773;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-paixao: "Passion One", sans-serif;
    --fonte-titulo: "Rubik", sans-serif;
    --fonte-subtitulo: "Bebas Neue", sans-serif;
    --fonte-salmo: "Tangerine", cursive;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 10px;
}
    img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        
    }
    
    .minha-div {
        height: 100px;
        width: 100px;
        position: relative;
        overflow: hidden;
        display: block;
        margin-right: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to bottom, var(--cor0), var(--cor4));
        
    }

header > h1 {
    color: var(--cor4);
    font-family: var(--fonte-titulo);
    font-size: 5em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.53);
    margin: auto;
}
header > p {
    color: white;
    font-family: var(--fonte-paixao);
    font-size: 1.3em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.307);
}

header > h2 {
    color: white;
    font-family: var(--fonte-salmo);
    font-size: 3em;
    max-width: 600px;
    padding-right: 6px;
    padding-left: 6px;
    margin: auto;
    padding-bottom: 0px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.748);
}

header > h3 {
    color: white;
    font-size: 1em;
    max-width: 300px;
    padding-right: 0px;
    padding-left: 0px;
    margin: auto;
    padding-bottom: 0px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.897);
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.786);
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;/*leva 1 seg de transição*/   
}
nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor4);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.492);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

main > h1{
    color: var(--cor4);
    font-family: var(--fonte-subtitulo);
    font-weight: normal;
    font-size: 2.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main img{
    width: 100%;
}

article > h1 {
    color: var(--cor4);
    font-family: var(--fonte-subtitulo);
    font-weight: normal;
    font-size: 2.5em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.407);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px; 
}